body {
font-family: "Poppins", serif;
width: 100%;
height: 100%;
overflow: scroll;
margin: 0;
overflow-x: hidden;
padding: 0;
background-color: #f4f4f4;
}

html {

width: 100%;
height: 100%;
}

.logo2 {
display: flex;
align-items: center;
font-size: 22px;
gap: 60px;
font-weight: bold;
}

.logo2 img {
height:25px;
margin-left: 20px;
}

.logo2 input[type="text"] {
background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23666" d="M10 2a8 8 0 1 1-5.293 14.293l-4.366 4.367a1 1 0 0 1-1.414-1.414l4.367-4.366A8 8 0 0 1 10 2zm0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12z"/></svg>') no-repeat left 10px center;
background-size: 16px 16px; 
width: 200px;
padding-block:.8rem;
border-radius: 15px;
border: none;
font-size: 10px;
padding-inline: 2rem;
color: #333;
background-color: #f0f0f0;
}

aside {
    width: 200px;
    height: 100vh;
    background: #15421C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50px;
}

.logo2 img {
 
    margin-top: 1rem;
}

.options {
    width: 100%;
    margin-top: 30px;
}

.options ul {
    list-style: none;
    padding: 0;
    width: 100%;

}

.options ul a {

    margin-block:1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    width: 83%;
    cursor: pointer;

}

.options ul a:hover,
.options ul a.active {
    background: #F8F5E9;
    border-left: 5px solid orange;
    color: #15421C;
}

.sign-out {
    margin-top: auto;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.sign-out a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

main {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
    transition: 0.3s;

}
.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 100px;
    width: 100%; 
}

.filter {
    display: flex;
    align-items: center;
    margin-right: 190px;
    gap: 10px;
}

.date-filter {
    padding: 8px;
    font-size: 14px #ccc;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.filter-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.filter-btn img {
    width: 24px;
    height: 24px;
    color: #e9e9e9;
    object-fit: contain;
}
.content-panel {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
    overflow: hidden; 
}


.content-panel.active {
    display: block;
}
.content-panel h3 {
    font-size: 20px;
    margin-bottom: -10px;
    margin-left: 30px;
    color: #333;
}
.request {
    text-align: right;
    margin-right: 90px;
    margin-bottom: 20px;
}

.status-done{
border: none;
background-color: #f4f4f4;
color:  #15421C;
font-weight: 500;
padding: 10px 20px;
}

.request h4 {
    font-size: 12px;
    font-weight: 100;
    color: rgb(179, 13, 13);
    margin-top: -5px; 
}

.table2 {
    width: 95%;
    border-collapse: collapse; 
    border: none; 
    font-size: 12px;
    position: relative;

}   

.table2 th, .table2 td {
    border: none; 
    padding: 10px;
    text-align: center;
}

.table2 th {
    background: transparent;
    font-weight: 600; 
}

.table2 tr {
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.table2 tr.selected {
    background-color: #aeb3af4b !important;
    color: black !important;
    font-weight: 500;
}

.table2 td{
    padding: 2rem;
}
.viewing{
    color: #15421C;
    font-weight: 500;
}
.right-head {
    display: flex;
    justify-content: flex-end; 
    margin-right: 19%;
    margin-top: 5px;
    margin-bottom: -27px;
    gap: 2rem;

}

.search-bin-staff {
    display: flex;
    align-items: center;
}

.search-bar2 {
    padding: 8px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
}

.status {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.status.done {
    background-color: #3A7D44;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.staff-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.staff-header{
    margin-left: -25px;
}

.staff-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    position: relative;

}

.close-staff-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.staff-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.staff-table th, 
.staff-table td {
    padding: 10px;
    text-align: center;
    border: none; 
    background: none; 
    font-size: 12px;
    gap: 100px;
}

.staff-status-pending {
    color: rgb(143, 9, 9);
    font-weight: 500;
}
.staff-decline-btn{
    background: rgb(143, 9, 9);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}
.staff-decline-btn:hover{
    background: rgb(189, 4, 4);
}

.staff-request-btn {
    background: #3A7D44;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.staff-request-btn:hover {
    background: #175520;
}


.content {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-left: 50px;
    align-items: flex-start;
}

.profile-section {
    width: 250px;
    text-align: center;
    height: 72vh;
    padding-right: 50px;
    border-right: 2px solid #ccc;
}
.profile-section h3, p{
    font-size: 15px;
}
.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}
.form-section {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: -35px;
    border-radius: 10px;
}

.form-section h2  {
    font-size: 15px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 10px;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.update-btn {
    background-color: #3A7D44;
    color: white;
    padding: 10px 30px;
    border: none;
    margin-top: 30px;
    margin-left: 180px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn1 {
    background-color: #3A7D44;
    color: white;
    padding: 10px 30px;
    border: none;
    margin-top: 30px;
    margin-left: 120px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.form-row {
    display: flex;
    gap: 60px; 
    margin-bottom: 15px; 
}

.half-width {
    flex: 1;
    padding-right: 20px; 
}

.half-width:last-child {
    padding-right: 0; /* Avoids extra space on the far right */
}

.gender-options {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
    padding-top: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110%;
    background: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 10px;
    gap: 10px;
  }
  
  .tab {
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: poinrgb(255, 255, 255)
  }
  
  .tab.active {
    background: #dff3e3;
    border-color: #3A7D44;
    font-weight: bold;
    color: green;
  }
  
  .mark-read {
    background: none;
    border: none;
    color: #000000;
    position: absolute;
    top: 95px;
    right: 225px;
    cursor: pointer;
  }
  .mark-read img {
    margin-bottom: -3px;
    height: 15px;
    width: 15px;
    margin-right: 3px;
    filter: brightness(0) saturate(100%) invert(41%) sepia(74%) saturate(297%) hue-rotate(70deg) brightness(91%) contrast(91%);
  }  
  .notifications {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .notification {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .notification img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .message {
    font-size: 15px;
    flex-grow: 1;
  }
  
  .time {
    font-size: 12px;
    color: #888;
  }
  .meta {
    font-size: 10px;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 25px;
  }
  .meta p{
    font-size: 10px;
    margin-top: 20px;
  }
  .unread .dot {
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
  }
  

.password-wrapper {
    position: relative;
    gap: 100px;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    width: 100%;
    border-radius: 30px;
    padding: 8px 100px 15px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-password {
    position: absolute;
    right: -75px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
  
  .toggle-password img {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-right: -200px;
    filter: brightness(0) invert(0.7); 
    transition: transform 0.2s;
  }
  
  .toggle-password:hover img {
    transform: scale(1.2); 
  }
  


.settings-menu {
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    margin-top: 20px;
}

.settings-menu li {
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    text-align: left;
}

.settings-menu li.active {
    font-weight: bold;
    background-color: #ddd;
    border-radius: 5px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}


/* overview */
.content-panel {
    display: none;
}

.content-panel.active {
    display: block;
}

  
  .analytics {
    max-width: 720px;
    margin-top: -30px;
  }
  
  .summary-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .summary-cards p{
    margin-left: 20px;
  }
  .card {
    background: rgb(247, 247, 247);
    padding: 5px;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
    flex: 1;
    margin: 0 10px;
  }
  
  .card h3 {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
  }
  .weight {
    font-size: 16px;
    font-weight: bold;
    color: #14532d;
  }
  .card p{
    font-size: 12px;
  }
  .toggle-buttons {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .toggle {
    background: none;
    border: none;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: #666;
    border-radius: 5px;
  }
  .his-head{
    display: flex;
    align-items: center;
    justify-content:space-between !important;
    padding: 10px;
    width: 75%;
}
.his-head input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
}

.table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 65%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 0.8rem;
  }
  
  .status {
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.875rem;
    border: none;
  }
  
  .status.done {
    background-color: #28a745;
    color: #fff;
  }

  .toggle.active {
    background: #14532d;
    color: white;
  }
  
  .chart-container {
    background: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  


.container-map{
    position: absolute;
    top: 45px;
    right: -50px;
}

.map-container {
    width: 60%;
    height: 250px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
    background: #f4f4f4; 
}
.floor-no {
    margin-top: 20px;
    margin-left: -30px;
  }
.box {
    height: 100%;
    width: 100%; 
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid;

}

.img-map {
    width: 800%; 
    height: 150%; 
    object-fit: contain; 
    border-radius: 2rem;

}
.floorstat {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    justify-content: space-between ;
    margin-bottom: 10px;
}

.floor-dropdown {
    width: 20%;
    padding: 7px;
    margin-left: 50px;
    padding-right: 15px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    color: black;
}


.bin-status {
    width: 70%;
    justify-content: right;
    margin-left: 50px;
    margin-bottom: 2rem;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bin-status p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #15421C;
    font-size: 14px;
    margin-top: 1rem;
    width: 100%;
}
.stat{
    margin-right: 75px;
    font-size: 13px;
}
.progress-bar-container {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 2rem;
}

  .progress-bar {
    height: 100%;
    width: 0;
    transition: width 0.5s ease-in-out;
}


.progress-yellow {
    background-color: orange;
}

.progress-green {
    background-color: green;
}

.progress-red {
    background-color: red;
}

.progress.yellow {
    color: orange;
    font-weight: bold;
}

.progress.green {
    color: green;
    font-weight: bold;
}

.progress.red {
    color: red;
    font-weight: bold;
}
.button-notif{
    align-items: center;
    display: flex;
    justify-content: center;
}
.notify {
    width: 50%;
    padding: 10px;
    background: #3A7D44;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Responsive */
@media (max-width: 768px) {
    aside {
        width: 70px;
    }

    .options ul a {
        justify-content: center;
    }

    .options ul a span {
        display: none;
    }

    main {
        margin-left: 70px;
        width: calc(100% - 70px);
    }
}