body {
    font-family: "Poppins", serif;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin: 0;
    overflow-x: hidden;
    padding-inline: 1rem;
    margin-inline:auto ;
    background-color: #f4f4f4;
}

html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1800px;
    height: 800px;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
}
header {
    margin-inline: auto;
    grid-column: span 2;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem;
    
}
.logo2 h3{
    color:#3A7D44;
    margin-top: -1px;
}

.logo2 {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.logo2 img {
    height:25px;
    margin-left: 20px;
}

.logo2 input[type="text"] {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23666" d="M10 2a8 8 0 1 1-5.293 14.293l-4.366 4.367a1 1 0 0 1-1.414-1.414l4.367-4.366A8 8 0 0 1 10 2zm0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12z"/></svg>') no-repeat left 10px center;
    background-size: 16px 16px; 
    width: 200px;
    padding-block:.8rem;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    padding-inline: 2rem;
    color: #333;
    background-color: #f0f0f0;
}

.icons-head {
    display: flex;
    align-items: center; 
    margin-right: 1rem;
    position: relative;
    left: 80%;
}

.icons-head a {
    margin-right: 1rem; 
}

.icons-head a:last-child {
    margin-right: 0; 
}

.icons-head img{
    height: 20px;
}

.dashboard-left{

    width: 100%;
    padding: 1rem;

}

.tabs {
    display: flex;
    cursor: pointer;
    gap: 2rem;
    margin-top: -30px;
}
.tab {
    width: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background: #f1f1f1;
    font-size: 12px;
}
.tab.active {
    background: #3A7D44;
    font-weight: bold;
    color: #f1f1f1;
}
.tab-content {
 
    display: none;
    margin-top: 1rem;
 
}
.tab-content.active {
    display: block;
}

.banner{
    width: 70%;
    background-color: #15421C;
    padding: 2rem;
    border-radius: 10px;
}
.banner h2,p{
    color: white;
    font-weight: 500;
}

.banner h1{
    color: #14A72A;
}

.his-head{
    display: flex;
    align-items: center;
    justify-content:space-between !important;
    padding: 10px;
    width: 75%;
}
.his-head input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
}
.left-tab{
    display: flex;
    width: 1500px;
    
}
.group{
    width: 100%;
   
}
/* notif */
.notification-container {
    position: relative;
    display: inline-block;

}

.bell-icon {
    cursor: pointer;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 250px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
}

.notification-header {
    background: #3A7D44;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 12px;
}

.notification-item:hover {
    background: #f1f1f1;
}

.notification-footer {
    text-align: center;
    padding: 8px;
    background: #f9f9f9;
    font-size: 12px;
    
    a{
        color: #3A7D44;
    }
}

/* Profile  */
.profile-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-container img {
  
    cursor: pointer;
    border-radius: 50%;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    min-width: 120px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 13px;
  }
  
  .dropdown-menu a:hover {
    background: #f0f0f0;
  }
  
  .show {
    display: block;
  }
  
.filter input{
    cursor: pointer;

}
.filter img{
    margin-bottom: -2px;
    height: 14px;
    cursor: pointer;
}

/* Table */
.table-container {
    max-width: 800px;
    height: 400px; 
    overflow: auto; 
    border-radius: 5px;
    position: relative;
    bottom: 1rem;
}

.table {
 width: 100%;
    border-collapse: collapse; 
    border: none; 
    font-size: 12px;
    position: relative;
    bottom: 20px;
}   
.table th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 2;
}
.table th, .table td {
    border: none; 
    padding: 30px;
    text-align: center;
}


.table td{
    padding: 1rem;
}

.status {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}


.table2 {
    width: 100%;
    border-collapse: collapse; 
    border: none; 
    font-size: 12px;
    position: relative;
    z-index: 0;

}   

.table2 th, .table2 td {
    border: none; 
    padding: 10px;
    text-align: center;
}

.table2 th {
    background: transparent;
    font-weight: 600; 
}
*/
.table2 tr {
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.table2 tr.selected {
    background-color: #aeb3af4b !important;
    color: black !important;
    font-weight: 500;
}

.table2 td{
    padding: 2rem;
}
.status {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.status.done {
    color: #3A7D44;
}

.container-map{
    position: relative;
    right: 10%;
}



.map-container {
    width: 90%;
    height: 250px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 27px;
    background: #f4f4f4; 
}

.box {
    height: 100%;
    width: 100%; 
 
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.img-map {
    width: 800%; 
    height: 150%; 
    object-fit: contain; 
    border-radius: 2rem;

}
.floorstat {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    justify-content: space-between ;
    margin-bottom: 10px;
}

.floor-dropdown {
    padding: 7px;
    padding-right: 10px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    color: black;
}


.bin-status {
    width: 100%;
    margin-bottom: 2rem;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bin-status p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #15421C;
    font-size: 14px;
    margin-top: 1rem;
    width: 100%;
   
}
.stat{
    font-size: 13px;
}
.progress-bar-container {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 2rem;
}

  .progress-bar {
    height: 100%;
    width: 0;
    transition: width 0.5s ease-in-out;
}


.progress-yellow {
    background-color: orange;
}

.progress-green {
    background-color: green;
}

.progress-red {
    background-color: red;
}

.progress.yellow {
    color: orange;
    font-weight: bold;
}

.progress.green {
    color: green;
    font-weight: bold;
}

.progress.red {
    color: red;
    font-weight: bold;
}
.button-notif{
    align-items: center;
    display: flex;
    justify-content: center;
}
.notify {
    width: 50%;
    padding: 10px;
    background: #3A7D44;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}

/* staff tab */
.head-staff{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.search-bar2{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23666" d="M10 2a8 8 0 1 1-5.293 14.293l-4.366 4.367a1 1 0 0 1-1.414-1.414l4.367-4.366A8 8 0 0 1 10 2zm0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12z"/></svg>') no-repeat left 10px center;
    background-size: 16px 16px; 
    width: 200px;
    padding-block:.8rem;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    padding-inline: 2rem;
    color: #333;
    background-color: #f0f0f0;
}
.right-head{
    margin-right: 20px;
    display: flex;
    gap: 2rem;
}
.filter{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}
.filter p{
    color: rgb(148, 148, 148);
    font-size: 13px;
}
td.stat {
    color: #ff6200;
}


.bx-sort-a-z {
    font-size: 13px;
    cursor: pointer;
    color: rgb(148, 148, 148);
}
.add-staff-btn button{
    border-radius: 20px;
    border: none;
    padding:10px ;
    width: 100px;
    background-color: #3A7D44;
    color: white;
    cursor: pointer;
}
.table2 button{
    border: none;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001; 
    position: relative; 
  }
.modal-buttons{
    width: 90%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
  
}
  .save-btn, .cancel-btn {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    width: 200px;
  }
  
  .save-btn {
     background: #3A7D44; 
    border-radius: 10px;
    }
  .cancel-btn { 
    border-radius: 10px;
    background: #3A7D44; 
}
  
  .row{
    display: flex;
    flex-direction: row;
 
  }
.input{
    margin-top: 1rem;
    margin-inline: 2rem;
}
label{
    font-size: 13px;
}
.input input,select{
    padding: 10px;
    border-radius: 5px;
    border-color: #333;
    border-width: 1px;
    border-style: solid;
    margin-top: 8px;
    font-size: 12px;
}
.email, .address{
    width: 90%;
}

/* delete modal */
.modal-delete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-delete {
    background: white;
    padding: 20px;
  
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .modal-content-delete p{
    color: black;
    font-size: 13px;
  }
  .modal-buttons-delete {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .delete-confirm-btn {
    background: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-btn-delete {
    background: gray;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .delete-btn {
    color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: solid;
  }

  .status-pending {
    color: rgb(182, 182, 0);
}

.btn-send {
    background-color: #3A7D44;
    color: white;          
    border: none;        
    font-size: 12px;    
    padding: 8px 16px;        
    border-radius: 7px;       
    cursor: pointer;         
    font-weight: bold;       
}

.btn-send:hover {
    background-color: #318b3f;
}
  .edit-btn, .delete-btn{
    background-color: #f4f4f4;
  }
  .selected-row {
    background-color: #f4f4f4; 
}

  .search-bar3{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23666" d="M10 2a8 8 0 1 1-5.293 14.293l-4.366 4.367a1 1 0 0 1-1.414-1.414l4.367-4.366A8 8 0 0 1 10 2zm0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12z"/></svg>') no-repeat left 10px center;
    background-size: 16px 16px; 
    width: 200px;
    padding-block:.8rem;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    padding-inline: 2rem;
    color: #333;
    background-color: #f0f0f0;
}