<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOBIN</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <section class="home-section" id="home">
            <header>
                <nav class="navbar">
                    <div class="logo2">
                        <h3>ECOBIN</h3>
                        
                    </div>
                    <ul class="nav-links">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#services">Services</a></li>
                        <a href="/Login">
                            <button>Log In</button>
                        </a>
                        </ul>
                </nav>
            </header>
            <div class="home-info">
                <div class="left-info">
                <div class="up">
                    <h2>A Cleaner School <br> <span>Starts with you.</span></h2>
                </div>
                <div class="below">
                    <p>Reduce waste and keep the environment clean with smart tracking. A better way to manage waste for a greener future!</p>
                
                </div>
                <div class="btn">
                    <a href="/login">
                        <button>Get Started</button>
                    </a>
                </div>
                
            </div>

            <div class="right-info">
                <div class="image">
                    <img src="image/ecobin-design (4).png" alt="">
                </div>
            </div>

            </div>
          
        </section>

        <section class="about-section" id="about">
         <div class="about-info">
            <div class="left-info1">
                <div class="image1">
                    <img src="image/2.png" alt="">
                </div> 
            </div>

            <div class="right-info1">
                <div class="up1">
                    <h5>About us</h5>
                    <h2><span>Smart Waste <br> Monitoring</span></h2>
                </div>
                <div class="below1">
                    <p>Our system uses sensors to check waste levels in bins and helps <br> ensure timely collection, preventing overflows and bad odors. By <br>using technology, we aim to make waste management easier, <br> reduce pollution, and encourage proper waste disposal.</p>
                
                </div>
                <div class="btn1">
                    <button>More Info</button>
                </div>
            </div>

            </div>
        </section>


        <section class="services-section" id="services">
               
            <div class="feature">
                <div class="services-quote">
                    <div class="featureser">
                        <h4>Feature Services</h4>
                        <p>Keeping Our School Clean, <br>
                            &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; One Bin at a Time!</p>
                    </div>
                </div>

                <div class="featureses">
                    <div class="service-box">
                        <div class="icon-placeholder">
                        <img src="image/real-time.jpg" alt="Real-Time Bin Monitoring">
                        </div>
                        <h3>Real-Time Bin <br>Monitoring</h3>
                        <p>Tracks fill levels in school <br>waste bins.</p>
                    </div>
                
                    <div class="service-box">
                        <div class="icon-placeholder">
                            <img src="image/waste collection.jpg" alt="Real-Time Bin Monitoring">
                        </div>
                        <h3>Automated Waste <br>Collection Alerts</h3>
                        <p>Notifies janitorial staff when bins need emptying.</p>
                    </div>
                
                
                    <div class="service-box">
                        <div class="icon-placeholder">
                            <img src="image/segragation.jpg" alt="Real-Time Bin Monitoring">
                        </div>
                        <h3>Waste Segregation <br>Monitoring</h3>
                        <p>Ensures proper disposal of recyclables and general waste.</p>
                    </div>
        
                    <div class="service-box">
                        <div class="icon-placeholder">
                            <img src="image/Capture.PNG" alt="Real-Time Bin Monitoring">
                        </div>
                        <h3>School Waste Analytics & Reporting</h3>
                        <p>Helps track waste generation trends for better management.</p>
                    </div>
                </div>
         </div>
</div>
        </section>


        <section class="footer">
            <div class="footer-container">
                <div class="footer-column">
                    <h3>EcoBin</h3>
                    <p>Reduce waste and keep the environment clean <br>with smart tracking. A better way to manage waste <br>for a greener future!</p>
                    <div class="scc">
                        <p>St. Cecilias College Cebu, Inc</p>
                    </div>
                </div>
    

                <div class="footer-column">
                    <div class="footer-links">
                        <div class="footer-column">
                            <h2>Navigation</h2>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
    
                        <div class="footer-column">
                            <h1>Quick Link</h1>
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Pages</a></li>
                            </ul>
                        </div>
    
                        <div class="footer-column1">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="icons">
                 <p class="email">ecobinscc@gmail.com</p>
                 <div class="social-icons">
                    <a href="#"><img src="image/facebook-circle-logo-24 (1).png" alt="Facebook"></a>
                    <a href="#"><img src="image/google-logo-24.png" alt="Google"></a>
                    <a href="#"><img src="image/instagram-alt-logo-24 (1).png" alt="Instagram"></a>
                </div>
                
               </div> 

            <div class="divider"></div>

            <div class="footer-bottom">
                © 2025 Ecobin Template. All Rights Reserved
            </div>
        </section>

    </div>
</body>
</html>